<md-card>
    <h3>Создание теста</h3>
    <form [formGroup]="testFormGroup" (ngSubmit)="onSubmit()">
        <md-input-container>
            <input mdInput formControlName="title" placeholder="title">
        </md-input-container>
        <br/>
        <md-input-container>
            <textarea mdInput formControlName="desc" placeholder="description"></textarea>
        </md-input-container>
        <br/>
        <md-input-container>
            <textarea mdInput formControlName="pre_condition" placeholder="pre condition"></textarea>
        </md-input-container>
        <br/>
        <md-input-container>
            <textarea mdInput formControlName="post_condition" placeholder="post condition"></textarea>
        </md-input-container>
        <form [formGroup]="tagFormGroup">
            <md-chip-list>
                <md-chip color="primary" selected="true" *ngFor="let tag of test.tags let i = index;">
                    {{tag.title}}
                    <md-icon (click)="onDropTag(i)">close</md-icon>
                </md-chip>
                <md-input-container>
                    <input type="text" placeholder="Tags" mdInput [mdAutocomplete]="tagsList">
                </md-input-container>
            </md-chip-list>
            <md-autocomplete #tagsList="mdAutocomplete" [displayWith]="tagsListValue">
                <md-option (click)="onTag(tag)" *ngFor="let tag of tags" [value]="tag">
                    {{tag.title}}
                </md-option>
            </md-autocomplete>
        </form>
        <div *ngFor="let step of test.last_revision.steps let i = index;">
            <md-input-container>
                <input mdInput value="{{step.text}}" disabled/>
                <button md-button (click)="onDropStep(i)">
                    <md-icon>close</md-icon>
                </button>
            </md-input-container>
        </div>
        <form [formGroup]="stepFormGroup" (ngSubmit)="onStep()">
            <md-input-container>
                <input mdInput formControlName="text" placeholder="Step Text"/>
            </md-input-container>
        </form>
        <button md-button
                [disabled]="!testFormGroup.valid || !test.last_revision.steps.length || !test.tags.length">
            Create!
        </button>
    </form>
</md-card>