<div *ngIf="test" flex layout="column" layout-padding>
    <div flex>
        <md-card>
            <md-card-header>
                <md-card-title>
                    <span>{{test.last_revision.title}}</span>
                </md-card-title>
                <md-card-subtitle>
                    <span>{{test.last_revision.desc}}</span>
                </md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <md-card-actions>
                    <md-chip-list *ngFor="let tag of test.tags">
                        <md-chip [style.background]="'#'+tag.color">{{tag.title}}</md-chip>
                    </md-chip-list>
                </md-card-actions>
                <md-card-subtitle>Предусловие</md-card-subtitle>
                <p layout-padding>{{test.last_revision.pre_condition}}</p>
                <md-card-subtitle>Шаги</md-card-subtitle>
                <md-list layout-padding>
                    <md-list-item *ngFor="let step of test.last_revision.steps" class="md-line" ng-click="null">
                        <img/>
                        <div layout="column">
                            {{step.text}}
                        </div>
                    </md-list-item>
                </md-list>
                <md-card-subtitle>Постусловие</md-card-subtitle>
                <p layout-padding>{{test.last_revision.post_condition}}</p>
            </md-card-content>
        </md-card>
    </div>
</div>
