<div *ngIf="test">
    <div fxLayout="row">
        <md-toolbar>
            <span>{{test.last_revision.title}}</span>
            <span class="fill-remaining-space"></span>
            <button md-icon-button [mdMenuTriggerFor]="testMenu">
                <md-icon>more_vert</md-icon>
            </button>
            <md-menu #testMenu="mdMenu">
                <button md-menu-item>
                    <md-icon>edit</md-icon>
                    <span>edit</span>
                </button>
                <button md-menu-item>
                    <md-icon>remove</md-icon>
                    <span>remove</span>
                </button>
            </md-menu>
        </md-toolbar>
    </div>
    <md-list>
        <md-list-item>
            <div md-line>
                <md-card>
                    <md-card-content>
                        <p>{{test.last_revision.pre_condition}}</p>
                    </md-card-content>
                </md-card>
            </div>
        </md-list-item>
        <md-list-item *ngFor="let step of test.last_revision.steps">
            <div md-line>
                <md-card>
                    <md-card-content>
                        <p>{{step.text}}</p>
                    </md-card-content>
                </md-card>
            </div>
        </md-list-item>
        <md-list-item>
            <div md-line>
                <md-card>
                    <md-card-content>
                        <p>{{test.last_revision.post_condition}}</p>
                    </md-card-content>
                </md-card>
            </div>
        </md-list-item>
    </md-list>
</div>

