<md-sidenav-container fullscreen>
    <md-sidenav #sidenav mode="side">
        <md-toolbar>
            <span>Menu</span>
            <md-toolbar-row>
                <a [routerLink]="['dashboard']"><span>Dashboard</span></a>
            </md-toolbar-row>
            <md-toolbar-row>
                <span>Profile</span>
            </md-toolbar-row>
            <md-toolbar-row>
                <span>Logout</span>
            </md-toolbar-row>
        </md-toolbar>
    </md-sidenav>
    <header>
        <md-toolbar color="primary">
            <button md-button (click)="sidenav.toggle()">
                <md-icon>menu</md-icon>
            </button>
            <span>Bartender</span>
        </md-toolbar>
    </header>
    <main flex>
        <router-outlet></router-outlet>
    </main>

    <footer>
        <div fxLayout="row">
            &copy; 2017
        </div>
    </footer>
</md-sidenav-container>