<md-sidenav-container fullscreen>
    <md-sidenav #sidenav mode="side">
        <md-toolbar>
            <span>Menu</span>
            <md-toolbar-row *ngIf="!token">
                <a [routerLink]="['login']"><span>Login</span></a>
            </md-toolbar-row>
            <md-toolbar-row *ngIf="token">
                <a [routerLink]="['dashboard']"><span>Dashboard</span></a>
            </md-toolbar-row>
            <md-toolbar-row *ngIf="token">
                <span>Profile</span>
            </md-toolbar-row>
            <md-toolbar-row *ngIf="token">
                <a (click)="logout()" href="#"><span>Logout</span></a>
            </md-toolbar-row>
        </md-toolbar>
    </md-sidenav>
    <md-toolbar color="primary">
        <button md-button (click)="sidenav.toggle()">
            <md-icon>menu</md-icon>
        </button>
        <span>Bartender</span>
    </md-toolbar>

    <main flex>
        <router-outlet></router-outlet>
    </main>

    <footer>
        <div fxLayout="row">
            &copy; 2017
        </div>
    </footer>
</md-sidenav-container>