<div fxLayout="column" fxFlex="200pt">
    <md-toolbar>
        <span>Tests</span>
        <span class="fill-remaining-space"></span>
        <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <button md-menu-item>
                <md-icon>add</md-icon>
                <span>Add test</span>
            </button>
        </md-menu>
    </md-toolbar>
    <md-nav-list>
        <md-list-item *ngFor="let test of tests" [routerLink]="['test', test.id]" title="{{test.last_revision.desc}}">
            <h3 md-line>{{test.last_revision.title}}</h3>
            <p md-line>
                <span class="mat-app-background">{{test.last_revision.desc}}</span>
            </p>
        </md-list-item>
    </md-nav-list>
</div>
<div fxLayout="column" fxFlex="100%">
    <router-outlet></router-outlet>
</div>
